@charset "utf-8";
/*! Reset CSS */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block;}
html {font-family: sans-serif;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
body {margin: 0;}
a {background: transparent;-webkit-tap-highlight-color: rgba(0,0,0,0); }
a:focus {outline: thin dotted;}
a:active,a:hover {outline: 0;}
h1 {font-size: 2em;margin: 0.67em 0;}
b,strong {font-weight: bold;}
hr {-moz-box-sizing: content-box;box-sizing: content-box;height: 0;}
small {font-size: 80%;}
img {border: 0;}

/*! Basic CSS */
body { font-family: "メイリオ","Meiryo",Arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro", Helvetica,Helvetica Neue,sans-serif;line-height: 1.5;color: #3a3a3a;}
.clear {clear: both;}

/*! Products list */
.products {margin: 0;padding: 0;text-align:center;}
.products li {list-style-type: none; margin:0;padding: 0;
background-color: #FFF;
border-radius: 3px;
-webkit-box-shadow: 0 0px 0px 1px #d9d9d9;
-moz-box-shadow: 0 0px 0px 1px #d9d9d9;
-o-box-shadow: 0 0px 0px 1px #d9d9d9;
box-shadow: 0 0px 0px 1px #d9d9d9;
width: 185px;
margin: 5px 5px 20px;
display:inline-block;
vertical-align: top;
/display:inline;
/zoom:1;
}
.products li a {text-decoration: none;display: block;}
.products li .prbox { height: 185px;
overflow: hidden;
cursor: pointer;
cursor: -webkit-zoom-in;
cursor: -moz-zoom-in;
cursor: zoom-in;
border-radius: 3px 3px 0px 0px;
background: #FFF;
position: relative;
display: block;
vertical-align: middle;
}

.products li .prbox { -webkit-mask-image: url("../images/item_mask.png");-webkit-mask-repeat: no-repeat;-webkit-mask-position: center top;}

.products li .prbox .hovmask, .feuture_item li .prbox .hovmask {
border-radius: 3px 3px 0 0;
box-shadow: none;
bottom: 0;
left: 0;
position: absolute;
right: 0;
top: 0;
z-index: 11;
}
.products li .prbox:hover .hovmask, .feuture_item li .prbox:hover .hovmask {background: rgba(255, 255, 255, 0.1);}
.products li .prbox img {
display: block;
margin: auto 0;
width: 100%;
position: relative;
z-index: 5;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
transform-style: preserve-3d;
-webkit-transform : translate3d(0,0,0) scale3d(1,1,1);
-moz-transform : translate3d(0,0,0) scale3d(1,1,1);
-o-transform : translate3d(0,0,0) scale3d(1,1,1);
-ms-transform : translate3d(0,0,0) scale3d(1,1,1);
-webkit-transform : translate3d(0,0,0) scale3d(1,1,1);
-webkit-transition : -webkit-transform 200ms linear;
-moz-transition : -moz-transform 200ms linear;
-o-transition : -o-transform 200ms linear;
-ms-transition : -ms-transform 200ms linear;
transition : transform 200ms linear;
}
.products li .prbox:hover img {
-webkit-transform : translate3d(0,-3%,0) scale3d(1.02,1.02,1);
-moz-transform : translate3d(0,-3%,0) scale3d(1.02,1.02,1);
-o-transform : translate3d(0,-3%,0) scale3d(1.02,1.02,1);
-ms-transform : translate3d(0,-3%,0) scale3d(1.02,1.02,1);
transform : translate3d(0,-3%,0) scale3d(1.02,1.02,1);
}

.products li .prbox:after {
bottom: 0;
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
content: "";
height: 1px;
left: 0;
margin-top: -1px;
position: absolute;
right: 0;
z-index: 10;
}

.products li .prbottom {border-radius: 0 0 3px 3px; padding: 6px 14px 7px;text-align: left;letter-spacing: -.1pt;display: block;min-height: 42px;}
.products li .prbottom h3 {margin: 3px 0 0px;padding: 0;-webkit-font-smoothing: antialiased;color: #3a3a3a;font-size: 13px;line-height: 15px;font-weight: 200;text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.products li .prbottom .price {margin: 0;padding: 0;color: #990000;font-size: 13px; line-height: 13px;font-weight: 400;}
.products li .prbottom:hover {background: #f1f1f1;}
.no-cnt {margin: 0 auto; width: 60%; min-width: 300px; text-align: center;color: #cdd0d3;font-weight: 600;font-size: 22px;letter-spacing: -.2pt}
.no-cnt .icon{ width: 250px; height: 250px; text-indent: -999em; display: block;margin: 0px auto;
background-image: url("../images/no-cnt.png");
background-repeat: no-repeat;
background-position: center center;
background-size: 100%;
}

/*! Tooltip */
[data-tooltip]{position:relative;display:inline-block}
[data-tooltip]:before,[data-tooltip]:after{position:absolute;visibility:hidden;opacity:0;z-index:9;-webkit-transform:translate3d(0, 0, 0) scale3d(1,1,1);-moz-transform:translate3d(0, 0, 0) scale3d(1,1,1);transform:translate3d(0, 0, 0) scale3d(1,1,1);}
[data-tooltip]:before{content:'';border:6px solid transparent}
[data-tooltip]:after{height:22px;padding:10px 10px 0 10px;font-size:12px;line-height:11px;content:attr(data-tooltip);white-space:nowrap}
[data-tooltip]:hover:before,[data-tooltip]:hover:after,[data-tooltip]:focus:before,[data-tooltip]:focus:after{opacity:1;visibility:visible}
.simptip:before, .simptip:after {-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
transform-style: preserve-3d;
-webkit-backface-visibility: hidden;
-moz-backface-visibility:    hidden;
-ms-backface-visibility:     hidden;
-o-backface-visibility:     hidden;
backface-visibility:     hidden;-webkit-transition: all 0.1s linear;-moz-transition: all 0.1s linear;-o-transition: all 0.1s linear;-ms-transition: all 0.1s linear;transition: all 0.1s linear;}
.simptip:hover:before,.simptip:hover:after{-webkit-transform:translate3d(0px, -10px, 0px) scale3d(1,1,1);-moz-transform:translate3d(0px, -10px, 0px) scale3d(1,1,1);-ms-transform:translate3d(0px, -10px, 0px) scale3d(1,1,1);-o-transform:translate3d(0px, -10px, 0px) scale3d(1,1,1);transform:translate3d(0px, -10px, 0px) scale3d(1,1,1)}
.simptip:before,.simptip:after{left:15%;bottom:82%}
.simptip:before{border-top-color:#52bad5;margin-bottom: -15px;}
.simptip:after{background-color:#52bad5;color:#FFF;margin-bottom: -3px;margin-left:-20px;height:auto;width:140px;padding:10px;line-height:14px;white-space:normal;text-align:left;-webkit-border-radius: 3px;-moz-border-radius: 3px;-o-border-radius: 3px;border-radius: 3px;}